*.BRIK
*.HEAD
*.nii
*.gz
*.img
*.zip
*.mat
*.lev
.files/
tsplot_index
*.ppm
*.par
*.rms
*.con
*.frf
*.min
*.vol
*.tiff
*.trg
*.grp
*lcon
*~
RESULTS/
ds005/
ds200/
input/
Neurovault_data/
.ipynb_checkpoints/
scripts/AFNI_sub01_output
*.DS_Store
*.pyc
*.pptx

Neurovault_data/
.ipynb_checkpoints/

_ignored/*

# Data directories
Neurovault_data/
*_OLD*/

*.nii.gz
input/data/

*.ipynb_checkpoints

